*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  margin:0;
  font-family: "Arial", verdana, monospace;
  font-size:17px;
  color:#fff;
}

#showcase{
  background-image:url('img/showcase.jpeg');
  background-size:cover;
  background-position: center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:top;
  align-items:top;
  text-align:top;
}

h1 {
  font-size: 50px;
text-align: top;
text-align: center;
}

h2 {
  text-align: center;
  text-align: top;
  font-weight: bold;
  padding: 30px;
}

img {
  max-width:550px;
  max-height:550px;
  padding: 5px;
  width; 100%;
  height: auto;
}
.pics{
  align-self: center;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#fff;
  border:#fff 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top: 20px;
  align-self: center;
  align-text: bottom;
}

#showcase .button:hover{
  background:#fff;
  color:black;
}

.container{
  background-color: white;
  color:black;
  margin-right:auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#showcase p{
  font-size:15px;
  font-weight: bold;
  color: white;
  line-height: 3.0;

  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30em;
  border-style : solid;
  border-width: 3px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}
@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}
